@import "directory/utils/variables";
button {
  padding: 0;
  margin: 0;
}
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.search,
.logo-header,
.concept,
header,
.exploration-button {
  display: flex;
  align-items: center;
  justify-content: center;
}


.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
  animation: fadeOut 3s forwards ;
  .spin { 
    position: relative;
    width: 300px;
    height: 300px;
    border: 10px solid $colour-secondary;
    border-radius: 50%;
    border-top-color: $colour-primary;
    animation: spin ease-in-out infinite ;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
}

@keyframes fadeOut {
  0% { opacity: 1;}
  90% {opacity: 1;
  z-index: 1;}
  100% {opacity: 0;
  z-index: -1;
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
header {
  flex-direction: column;
  .logo-header {
    margin: 20px 0 10px 0;
    width: 150px;
  }
  .search {
    background: darken($color: $colour-whitesmoke, $amount: 5%) ;
    width: 100%;
    @media (min-width:992px) {
      height: 70px;  
    }
    input {
      resize: none;
      height: 20px;
      border: none;
      margin: 10px;
      background-color: darken($color: $colour-whitesmoke, $amount: 5%);
      width: 100px;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  padding: 20px 0 40px 0;
  
  .exploration-button {
    height: 60px;
    width: 200px;
    color: $colour-white;
    border-radius: 50px;
    background: linear-gradient(
      170deg,
      $colour-primary 0%,
      $colour-secondary 50%
      );
    cursor: pointer;
    border: none;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    scale: 1;
    &:hover {
      transform: scale(1.2);
      transition-duration: 0.15s;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
      opacity: 0.8;      
      
      background: linear-gradient(
      170deg,
      lighten($colour-primary, 5%) 0%,
      lighten($colour-secondary, 5%) 50%,
      );
      box-shadow: 0px 2px 10px 0px #525252;
    }
  }
}

main {
  margin: 0;
  .presentation {
    background-color: lighten($color: $colour-whitesmoke, $amount: 2%);
    padding: 30px;
    &__sentence {
      text-align: center;
      font-size: 26px;
      margin: 0 15% 0 15%;
      padding: 0 0 10px 0;
    }
    &__sentence-p {
      text-align: center;
      font-size: 18px;
      padding: 0 15% 0 15%;
    }
  }
  .working {
    background-color: $colour-white;
    h2 {
      padding: 30px 0 20px 20px;
    }
    .ol {
      list-style-type: none;
      padding-left: 10px;
    @media (min-width:992px) {
      display: flex;
      flex-direction: row;
    }
      &__li {
        display: flex;
        align-items: center;
        background-color: $colour-whitesmoke;
        padding: 20px;
        margin: 10px 10px 10px 20px;
        border-radius: 20px;
        box-shadow: $colour-whitesmoke 1px 1px 2px 2px;
        &__number {
          background-color: $colour-primary;
          color: $colour-white;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        
        }
        &--div {
          margin-left: -30px;
          padding-right: 50px;
        }
        &:hover {
          i {
            color: $colour-primary;
          }
          background-color: lighten($color: $colour-primary, $amount: 35%);
          transition-duration: 0.5s;
          cursor: pointer;
        }
      }
    }
  }
  .restaurants {
    background-color: $colour-whitesmoke;
    h2 {
      padding: 40px 0 10px 20px;
    }
  }
  .blocks {
    @media (min-width:992px) {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .block {
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      margin: 10px 20px 20px 20px;
      box-shadow: darken($color: $colour-whitesmoke, $amount: 5%) 1px 1px 2px 2px;
      scale: 1;
      color: black;
      text-decoration: none;
      
      @media (min-width:992px) {
        width: 300px;
      }
      &__new {
        width: 60px;
        position: absolute;
        background: $colour-tertiary;
        text-align: center;
        padding: 10px;
        right: 5%;
        top: 10%;
        color: darken($color: $colour-tertiary, $amount: 40%);
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.03);
      }
      &__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
      }
      &__text-heart {
        display: flex;
        justify-content: space-between;
        background-color: $colour-white;
        border-radius: 0 0 15px 15px;
        width: 100%;
        &__text-2 {
          position: relative;
          width: 50px;
          margin-top: 20px;
          &__heart {
            position: absolute;
          }
          &__heart-full {
            position: absolute;
            background: $colour-primary;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            cursor: pointer;
            transition: all 0.2s;
            scale: 1;
            &:hover {
              opacity: 1;
              transform: scale(1.5);
            }
          }
        }
        &__text {
          flex-grow: 1;
          h3 {
            margin: 10px 0 0 10px;
          }
          p {
            margin: 0 0 10px 10px;
          }
          padding: 5px 0 5px 5px;
        }
        &__heart {
          margin: 20px 20px 0 0;
          &:hover {
            color: transparent;
            background: $colour-primary;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}
.footer {
  background-color: darken($color: $colour-footer, $amount: 25%);
  margin: 0;
  padding: 20px;
  .logo-footer {
    width: 100px;
    padding-bottom: 10px;
    font-family: 'Shrikhand', sans-serif;
  }
  &__ul {
    list-style-type: none;
    padding: 0;
    &__li {
      margin: 5px 0 5px 0;
      &__a {
        text-decoration: none;
        color: $colour-white;
      }
      &__logo {
        width: 30px;
      }
    }
  }
}
