$colour-primary: #9356DC ;
$colour-secondary: #FF79DA ;
$colour-tertiary: #99E2D0 ;
$colour-white: #fff;
$colour-whitesmoke: #f5f5f5;
$colour-footer: grey;
$colour-gradient : linear-gradient(170deg, #ff79da, #9356dc);