@import "directory/utils/variables";
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
header {
  .header {
    display: flex;
  }
  .logo-header {
    display: flex;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    @media (min-width: 1000px) {
    height: 76px;
    }
  }
  .logo-arrow {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    &__arrow {
      align-items: center;
      padding: 30px;
      scale: 1;
      color: black;
      &:hover {
        scale: 1.5;
        transition-duration: 0.2s;
      }
    }
  }
  .background-image {
    width: 100%;
    @media (min-width: 1000px) {
      height: 500px;
      
    }
  }
} 

main {
  background: $colour-whitesmoke;
  order: 2;
  border-radius: 30px 30px 0 0;
  .all-blocks {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    @media (min-width: 1000px){
      flex-direction: row;
    }
  }
  .category {
    margin-left: 15px;
    width: 50px;
    border-bottom: 3px solid $colour-tertiary;
  }
  .title {
    position: relative; 
    width: 100%;
    display: flex;
    background-color: $colour-whitesmoke;
    border-radius: 30px 30px 0 0;
    margin-top: -40px;
    justify-content: space-between;
    @media (min-width: 1000px) {
      justify-content: center;
      text-align: center;
    }
    &__h {
      padding: 20px 0 20px 10px;
      font-family: "Shrikhand", sans-serif;
      }
    
    &__hearts {
      position: relative;
      width: 100px;
      margin-top: 35px;
      &__empty-heart {
        position: absolute;
      }
      &__heart-full {
        position: relative;
        background: $colour-primary;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s;
        scale: 1;
        &:hover {
          opacity: 1;
          transform: scale(1.5);
        }
      }
    }
  }
  .blocks {
    transition: all 2s;
    margin: 0 20px;
    @media (min-width:992px) {
    min-width: calc(33% - 40px);
    max-width: calc(33% - 40px);
    }
    .animation-first {        
      animation: spawn 1s 0s forwards;
      transform: translateX(-100%);
    }
    .animation-second {
      animation: spawn 1s 0.25s forwards;
      transform: translateX(-100%);
    }
    .animation-third {
      animation: spawn 1s 0.5s forwards;
      transform: translateX(-100%);
    }
    .animation-fourth {
      animation: spawn 1s 0.75s forwards;
      transform: translateX(-100%);
      }
    &__block {
      margin: 20px;
      display: flex;
      background: $colour-white;
      border-radius: 10px;
      max-width: 100%;
      text-overflow: ellipsis;      
      cursor: pointer;
        &:hover .blocks__block__animation {
          width: 75px;
        }
      &__text {
        padding: 10px;
        flex-grow: 1;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &__price {
        padding: 20px 0 10px 10px;
        text-align: center;
        width: 100px;
      }
      &__animation {
        padding: 0;
        width: 0;
        background: $colour-tertiary;
        overflow: hidden;
        height: 62px;
        border: 0;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        transition-duration: 0.4s;
      }
    }
  }

  @keyframes spawn {
    0% {opacity: 0};
    100% {opacity: 1};
    100% {transform: translateX(0%);}
  }
  .button {
    display: flex;
    justify-content: center;
    padding: 20px 0 40px 0;
    
    .exploration-button {
      height: 60px;
      width: 200px;
      color: $colour-white;
      border-radius: 50px;
      background: linear-gradient(
        170deg,
        $colour-primary 0%,
        $colour-secondary 50%
        );
      cursor: pointer;
      border: none;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      scale: 1;
      &:hover {
        transform: scale(1.2);
        transition-duration: 0.15s;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
        opacity: 0.8;      
        
        background: linear-gradient(
        170deg,
        lighten($colour-primary, 5%) 0%,
        lighten($colour-secondary, 5%) 50%,
        );
        box-shadow: 0px 2px 10px 0px #525252;
      }
    }
  }
}

.footer {
  background-color: darken($color: $colour-footer, $amount: 25%);
  margin: 0;
  padding: 20px; 
  .logo-footer {
    width: 100px;
    padding-bottom: 10px;
    font-family: "Shrikhand", sans-serif;
  }
  &__ul {
    list-style-type: none;
    padding: 0;
    &__li {
      margin: 5px 0 5px 0;
      &__a {
        text-decoration: none;
        color: $colour-white;
      }
      &__logo {
        width: 30px;
      }
    }
  }
}