button {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.search,
.logo-header,
.concept,
header,
.exploration-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  flex-direction: column;
}
header .logo-header {
  margin: 20px 0 10px 0;
  width: 150px;
}
header .search {
  background: #e8e8e8;
  width: 100%;
}
header .search input {
  resize: none;
  height: 20px;
  border: none;
  margin: 10px;
  background-color: #e8e8e8;
  width: 100px;
}

.exploration-button {
  background-color: #9356DC;
  border-radius: 20px;
  height: 40px;
  width: 60%;
  margin: 20px 0 40px 20%;
  color: #fff;
  border: 0;
  transition: all 300ms;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  cursor: pointer;
}
.exploration-button:hover {
  background-color: white;
}

main {
  margin: 0;
}
main .presentation {
  background-color: #fafafa;
  padding: 30px;
}
main .presentation__sentence {
  text-align: center;
  font-size: 26px;
  margin: 0 15% 0 15%;
  padding: 0 0 10px 0;
}
main .presentation__sentence-p {
  text-align: center;
  font-size: 18px;
  padding: 0 15% 0 15%;
}
main .working {
  background-color: #fff;
}
main .working h2 {
  padding: 30px 0 20px 20px;
}
main .working .ol {
  list-style-type: none;
  padding-left: 10px;
}
main .working .ol__li {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px;
  margin: 10px 10px 10px 20px;
  border-radius: 20px;
  box-shadow: #f5f5f5 1px 1px 2px 2px;
}
main .working .ol__li__number {
  background-color: #9356DC;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .working .ol__li--div {
  margin-left: -30px;
  padding-right: 50px;
}
main .working .ol__li:hover {
  background-color: #f2eafb;
  transition-duration: 0.5s;
  cursor: pointer;
}
main .working .ol__li:hover i {
  color: #9356DC;
}
main .restaurants {
  background-color: #f5f5f5;
}
main .restaurants h2 {
  padding: 40px 0 10px 20px;
}
main .blocks .block {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 10px 20px 20px 20px;
  box-shadow: #e8e8e8 1px 1px 2px 2px;
  scale: 1;
  color: black;
  text-decoration: none;
}
main .blocks .block__new {
  width: 60px;
  position: absolute;
  background: #99E2D0;
  text-align: center;
  padding: 10px;
  right: 5%;
  top: 10%;
  color: #278870;
}
main .blocks .block:hover {
  cursor: pointer;
  transform: scale(1.03);
}
main .blocks .block__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
main .blocks .block__text-heart {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  width: 100%;
}
main .blocks .block__text-heart__text-2 {
  position: relative;
  width: 50px;
  margin-top: 20px;
}
main .blocks .block__text-heart__text-2__heart {
  position: absolute;
}
main .blocks .block__text-heart__text-2__heart-full {
  position: absolute;
  background: #9356DC;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s;
  scale: 1;
}
main .blocks .block__text-heart__text-2__heart-full:hover {
  opacity: 1;
  transform: scale(1.5);
}
main .blocks .block__text-heart__text {
  flex-grow: 1;
  padding: 5px 0 5px 5px;
}
main .blocks .block__text-heart__text h3 {
  margin: 10px 0 0 10px;
}
main .blocks .block__text-heart__text p {
  margin: 0 0 10px 10px;
}
main .blocks .block__text-heart__heart {
  margin: 20px 20px 0 0;
}
main .blocks .block__text-heart__heart:hover {
  color: transparent;
  background: #9356DC;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  background-color: #404040;
  margin: 0;
  padding: 20px;
}
.footer .logo-footer {
  width: 100px;
  padding-bottom: 10px;
  font-family: "Shrikhand", sans-serif;
}
.footer__ul {
  list-style-type: none;
  padding: 0;
}
.footer__ul__li {
  margin: 5px 0 5px 0;
}
.footer__ul__li__a {
  text-decoration: none;
  color: #fff;
}
.footer__ul__li__logo {
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
