* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header .header {
  display: flex;
}
header .logo-header {
  display: flex;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
@media (min-width: 992px) {
  header .logo-header {
    height: 60px;
  }
}
header .logo-arrow {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
header .logo-arrow__arrow {
  align-items: center;
  padding: 30px;
  scale: 1;
  color: black;
}
header .logo-arrow__arrow:hover {
  scale: 1.5;
  transition-duration: 0.2s;
}
header .background-image {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  header .background-image {
    height: 500px;
  }
}

main {
  background: #f5f5f5;
  order: 2;
  border-radius: 30px 30px 0 0;
}
main .all-blocks {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
}
@media (min-width: 992px) {
  main .all-blocks {
    flex-direction: row;
  }
}
main .category {
  margin-left: 15px;
  width: 50px;
  border-bottom: 3px solid #99E2D0;
}
main .title {
  position: relative;
  width: 100%;
  display: flex;
  background-color: #f5f5f5;
  border-radius: 30px 30px 0 0;
  margin-top: -40px;
  justify-content: space-between;
}
@media (min-width: 992px) {
  main .title {
    justify-content: center;
    text-align: center;
  }
}
main .title__h {
  padding: 20px 0 20px 10px;
  font-family: "Shrikhand", sans-serif;
}
main .title__hearts {
  position: relative;
  width: 100px;
  margin-top: 35px;
}
main .title__hearts__empty-heart {
  position: absolute;
}
main .title__hearts__heart-full {
  position: relative;
  background: #9356DC;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s;
  scale: 1;
}
main .title__hearts__heart-full:hover {
  opacity: 1;
  transform: scale(1.5);
}
main .blocks {
  transition: all 2s;
  margin: 0 20px;
}
@media (min-width: 992px) {
  main .blocks {
    min-width: calc(33% - 40px);
    max-width: calc(33% - 40px);
  }
}
main .blocks .animation-first {
  animation: spawn 1s 0s forwards;
  transform: translateY(-100%);
  opacity: 0;
}
main .blocks .animation-second {
  animation: spawn 1s 0.25s forwards;
  transform: translateY(-100%);
  opacity: 0;
}
main .blocks .animation-third {
  animation: spawn 1s 0.5s forwards;
  transform: translateY(-100%);
  opacity: 0;
}
main .blocks .animation-fourth {
  animation: spawn 1s 0.75s forwards;
  transform: translateY(-100%);
  opacity: 0;
}
main .blocks__block {
  margin: 20px;
  display: flex;
  background: #fff;
  border-radius: 10px;
  max-width: 100%;
  text-overflow: ellipsis;
  cursor: pointer;
}
main .blocks__block:hover .blocks__block__animation {
  width: 75px;
}
main .blocks__block__text {
  padding: 10px;
  flex-grow: 1;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
main .blocks__block__text h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .blocks__block__text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .blocks__block__price {
  padding: 20px 0 10px 10px;
  text-align: center;
  width: 100px;
}
main .blocks__block__animation {
  padding: 0;
  width: 0;
  background: #99E2D0;
  overflow: hidden;
  height: 62px;
  border: 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition-duration: 0.4s;
}
@keyframes spawn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
  }
}
main .button {
  display: flex;
  justify-content: center;
  padding: 20px 0 40px 0;
}
main .button .exploration-button {
  height: 60px;
  width: 200px;
  color: #fff;
  border-radius: 50px;
  background: linear-gradient(170deg, #9356DC 0%, #FF79DA 50%);
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  scale: 1;
}
main .button .exploration-button:hover {
  transform: scale(1.2);
  transition-duration: 0.15s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 0.8;
  background: linear-gradient(170deg, #a16be0 0%, #ff93e1 50%);
  box-shadow: 0px 2px 10px 0px #525252;
}

.footer {
  background-color: #404040;
  margin: 0;
  padding: 20px;
}
.footer .logo-footer {
  width: 100px;
  padding-bottom: 10px;
  font-family: "Shrikhand", sans-serif;
}
.footer__ul {
  list-style-type: none;
  padding: 0;
}
.footer__ul__li {
  margin: 5px 0 5px 0;
}
.footer__ul__li__a {
  text-decoration: none;
  color: #fff;
}
.footer__ul__li__logo {
  width: 30px;
}

/*# sourceMappingURL=styles.css.map */
